html{
    background-color: black;
}

body{
    background-color: var(--background-color);
    color: var(--fontColor);   
}

.cursor-pointer{
    cursor: pointer;
}

a{
    color: rgba(255,255,255,.5);
    text-decoration: none;
}

.hover-event:hover{
    color: rgb(255, 255, 255)!important;
    text-decoration: none;
    cursor: pointer;
}

.hover-event:hover > a{
    color: rgb(255, 255, 255)!important;
    text-decoration: none;
}


/* ----------------- */


li{
    width: 200px;
    border-bottom: 2px dotted rgba(255, 255, 255, 0.501);
    transition: .3s;
}

.menu-itens{
    transition: .3s;
}

li:hover > .menu-itens{
    transform: translateX(8px);

}

li:hover{
    border-left: 10px solid var(--baseColor);
    background-color: #8cc3642d;
}